<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap uap3 mp">

  <Identity
    Name="BrimstoneCottage.BrimstoneXbox"
    Publisher="CN=Brimstone Cottage"
    Version="0.1.2.0" />

  <mp:PhoneIdentity
    PhoneProductId="9c796055-7074-4fd5-aaf8-b9eec20c8c86"
    PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>Brimstone Core</DisplayName>
    <PublisherDisplayName>Brimstone Cottage</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Universal"
      MinVersion="10.0.14393.0"
      MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-gb" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="BrimstoneXbox.App">
      <uap:VisualElements
        DisplayName="Brimstone Core"
        Description="Brimstone Core for Xbox"
        BackgroundColor="#08080B"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen
          Image="Assets\SplashScreen.png"
          BackgroundColor="#08080B" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <DeviceCapability Name="optical" />
  </Capabilities>
</Package>
